.recomended{
    flex-basis: 30%;
}

.side-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-list img{
    /* height: 300px;
    width: 500px; */
    flex-basis: 49%;
    width: 50%;
}

.vid-info{
    flex-basis: 49%;
}

.vid-info h3{
    font-size: 13px;
    margin-bottom: 5px;
}

@media (max-width: 900px) {
    .recomended{
        flex-basis: 100%;
    }
}